@CHARSET "UTF-8";

h3 {
	text-align: center;
}

form {
	width: 50%;
	margin: auto;
}

label {
	display: inline-block;
	width: 185px;
	text-align: right;
	height: 32px;
	line-height: 32px;
	margin: auto 0;
}

input {
	display: inline-block;
	width: 225px;
	height: 32px;
	line-height: 18px;
	overflow: hidden;
	padding: 6px 3px;
	border: 1px solid #bababa;
	box-shadow: 0 0 3px #e6e6e6 inset;
	border-radius: 3px;
	outline: 0;
}

textarea {
	width: 225px;
	height: 100px;
	line-height: 18px;
	overflow: hidden;
	padding: 6px 3px;
	border: 1px solid #bababa;
	box-shadow: 0 0 3px #e6e6e6 inset;
	border-radius: 3px;
	outline: 0;
}

.label-textarea {
	width: 185px;
	text-align: right;
	height: 100px;
	line-height: 100px;
}

li {
	padding: 7px 0;
	overflow: hidden;
}

li input {
	height: 32px;
	line-height: 32px;
}

li textarea {
	height: 100px;
	line-height: 100px;
}

.btn {
	border: 1px solid;
	display: block;
	font: bold 12px/25px Arial, sans-serif;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	/* line-height: 35px;  有这句话反而无法居中*/
	width: 80px;
	height: 35px;
	padding: 6px 3px;
	margin: 5px auto;
}

input,textarea,.btn:hover {
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .3), inset 0px 0px 2px
		rgba(0, 0, 0, .5);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, .3), inset 0px 0px 2px
		rgba(0, 0, 0, .5);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .3), inset 0px 0px 2px
		rgba(0, 0, 0, .5);
}

.btn:active {
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .7);
	-moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, .7);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, .7);
}